
.swiper-container {
        width: 10.8rem;
        height: 19rem;
        background: #fff;
}
    	
.image{
    width: 10.8rem;
    height: 19rem;
}
.image4{
    width: 10.8rem;
    height: 17rem;
}

   